.section {


    /* height: auto; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 10%;

    &.section__hawaii {
        background: url(../assets/Images/hawaii.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    &.section__iceland {
        background: url(../assets/Images/iceland.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    &.section__greece {
        background: url(../assets/Images/greece.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }

}

.section__title {
    color: white;
    font-size: 3.5rem;
    margin-top: 0px;
    padding-left: 65px;
    padding-top: 55px;
}

.section__para {
    display: flex;
    gap: 70px;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
}

.section__card {
    height: 370px;
    background: white;
    width: 170px;
    padding: 20px 0px;

}
.section__card__header{
    border-bottom: 2px black solid;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.section__card__para{
    padding-left: 0px;
}
.section__card__content{
    background-color: #FEFAF5;
    padding:10px 30px;
    text-align: center;
    margin:30px 10px;
   

}
