/* General styles */
/* body, html {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  
} */
* {

  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

.navbar {
  position: relative;
  display: flex;
  top: 0;
  width: 100%;
  padding: 20px 30px;
  background-color: #FFFFFF;
  justify-content: space-between;
  align-items: center;
}
.navbar__heading{
  padding-left: 20px;
  color: #335576;
}

.navbar__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.navbar__item {
  display: inline;
  margin-right: 20px;
}

.navbar__link {
  text-decoration: none;
  color: #335576;
}
.navbar__link:hover {
  /* font-weight: 600; */
  border-bottom: 4px solid #DB7A4E;
  transition: all 0.1s linear;
}

.navbar__item__active .navbar__link{
  border-bottom: 4px solid #DB7A4E;
}
/* hamberger menu */
.navbar__hamberger__nemu{
  display: none;
  cursor: pointer;
}
.nav-toggle {
  display: none;
}

/* Styles for when the checkbox is checked */
.nav-toggle:checked + .navbar__list {
  display: block;
}

.footer {
  background-color: #FEFAF5;
  color: #335576;
  padding: 50px 40px;

 
}
.footer__block{
  display: flex;
  justify-content: center;
  /* position: fixed; */
 left: 0;
 bottom: 0;
 width: 100%;
 flex-wrap: wrap;

}

.footer__section {
  margin: 0 20px;
}

.footer__title {
  color: #335576;
}

.footer__title__highlight {
  color: #DB7A4E;
  font-size: .70rem;
  padding-top: 10px;
}

.footer__text {
  margin: 0;
  padding: 5px 0;
}
.footer__social{
  display: flex;
  gap: 20px;
  padding-top: 10px;

}
.footer__social .footer__link img {
  max-width: 20px;
height: 50%;
}
.footer__section-hour{
  display: flex;
  gap: 20px;
}
.footer__section-social{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 16px;
}
.navbar__heading__title{
  text-decoration: none;
}

@media screen and (max-width:480px) {
  .footer__block{
    gap: 30px;
  }
  /* .navbar__hamberger__nemu{
    display: block;
  }
  .navbar__list{
    display: none;
  }
  .navbar__list:hover{
    display: block;
  } */

  .navbar__hamberger__nemu {
    display: block;
  }
  
  .navbar__list {
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    width: 100%;
    background-color: #FFFFFF;
  }

  .navbar__item {
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
  }

  .navbar__link {
    display: block;
    padding: 10px 20px;
    color: #335576;
    text-decoration: none;
  }

  .navbar__link:hover {
    border-bottom: 4px solid #DB7A4E;
    transition: all 0.1s linear;
  }
  
}